
<h1>
    <h3>@Model.currentCategory</h3>
    Все автомобили
</h1>
@{ 
    foreach (var car in Model.allCars)
    {
        <div>
            <h2>Model: @car.name</h2>
            <p>Price: @car.price.ToString("c")</p>
            <img src="@car.img" alt="@car.name" />
        </div>
    }
}
